.page {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;

  grid-template-areas: "sidebar body";
}

.page__body {
  grid-area: body;
  background-color: #181818;
}

.page__sidebar {
  width: 300px;
  background-color: #232325;
  grid-area: sidebar;
}