.my-button {
  font-size: 35px;
  border: none;
  outline: none;
  background-color: darkgray;
  border-radius: 4px;
  padding: 0.5em;
  transition: transform 200ms ease-out;
}
.my-button:active{
  transform: translate3d(0, 20px, 0);
}